<div class="card">
  <div class="card-block" *ngIf="cardTitle">
    <span class="card-title">{{cardTitle}}</span>
  </div>
  <div class="card-block">
    <div class="row">
      <!--<div class="col-xs-2 col-xl-1" *ngIf="player">
        <img #headshot src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{player?.espnPlayerId}}.png&w=40&h=50&scale=crop&background=0xcccccc&transparent=false"
             (error)="headshot.style.display = 'none'"/>
      </div>-->
      <div class="col-xs">
        <h6>{{player?.name}} &mdash; {{player?.team}}</h6>
        <div *ngIf="player">Bye Week {{player.bye}}</div>
      </div>
    </div>
  </div>
</div>
