<div class="card">
  <div class="card-block" *ngIf="cardTitle">
    <span class="card-title">{{cardTitle}}</span>
  </div>
  <div class="card-block {{player?.position?.replace('/', '')}}">
    <div class="clr-row">
      <!--<div class="col-xs-2 col-xl-1" *ngIf="player" style="display: flex; align-items: center">
        <img #headshot
             src="https://a.espncdn.com/i/headshots/nfl/players/full/{{player.espnPlayerId}}.png?w=250&h=100&scale=crop&background=0xcccccc&transparent=false"
             (error)="headshot.src = 'http://g.espncdn.com/s/ffllm/14//images/playerpop/design2/no-mugshot-7.png'"
             height="35px"
             width="48px"/>
      </div>-->
      <div class="clr-col" style="color: white">
        <h6 style="color: white;">{{player?.name}} &mdash; {{player?.team}}</h6>
        <div *ngIf="player">Bye Week {{player.bye}}</div>
      </div>
    </div>
  </div>
</div>
