.selected-pick {

}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 2px;
}

.card-block {
  padding: 5px 6px;
}

.card-title {
  line-height: 1.2;
}

h6 {
  margin-top: 2px !important;
}
