<div class="card" [ngClass]="{ 'selected-pick': isCurrentPick, 'clickable': canClick }" (click)="onCardClick(pick)">
  <div class="card-block">
    <div *ngIf="isCurrentPick" class="progress top">
      <progress value="100" max="100"></progress>
    </div>

    <div class="card-text">
      <span>Round {{ pick.round }}, Pick {{ pick.roundSelection }}</span>
    </div>
    <h2 class="card-title">
      {{ pick.teamId }}
      <span class="p5" *ngIf="pick.byWayOf">({{ pick.byWayOf }})</span>
    </h2>
  </div>

  <div class="card-img" *ngIf="pick.player">
    <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{pick.player.espnPlayerId}}.png&w=250&h=160&scale=crop&background=0xcccccc&transparent=false"/>
  </div>

  <div class="card-block" *ngIf="pick.player">
    <div class="card-text">
      <div>
        <h6>{{pick.player.name}} <span *ngIf="pick.player.tns">{{pick.player.tns}}</span></h6>
      </div>
      <div>{{pick.player.position}} &mdash; {{pick.player.team}}</div>
    </div>
  </div>

  <div class="card-footer" *ngIf="pick.player && canDoActions">
    <ng-content></ng-content>
  </div>
</div>
