<div class="row" (scroll)="rawScroll.emit()">
  <app-pick-card class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-6"
                 *ngFor="let pick of picks"
                 [isCurrentPick]="currentPick?.overallSelection === pick.overallSelection"
                 [pick]="pick"
                 [canAutoScroll]="!scrollOverridden"
                 (autoScroll)="autoScrolled.emit()"
                 (cardClick)="onCardClick($event)">
    <button class="btn btn-secondary-outline" (click)="onUndoClick(pick)">Undo Pick</button>
  </app-pick-card>
</div>
