<div class="clr-row clr-flex-nowrap" style="overflow-x: auto" (scroll)="rawScroll.emit()">
  <app-pick-card class="clr-col-xl-2 clr-col-lg-3 clr-col-md-4 clr-col-sm-5 clr-col-6"
                 *ngFor="let pick of picks; trackBy: trackPickBy"
                 [isCurrentPick]="currentPick.payload.val()?.overallSelection === pick.payload.val().overallSelection"
                 [pick]="pick"
                 [canAutoScroll]="!scrollOverridden"
                 [canClick]="canChangeCurrentPick"
                 [canDoActions]="canChangeCurrentPick"
                 (autoScroll)="autoScrolled.emit()"
                 (cardClick)="onCardClick($event)">
    <!--TODO track by-->
    <button *ngIf="canUndoPick" class="btn btn-sm btn-secondary-outline" (click)="onUndoClick(pick)">Undo Pick</button>
  </app-pick-card>
</div>
