<div class="main-container">
  <div class="content-container">
    <ng-template #loading>
      <span class="spinner" style="">
        Loading...
      </span>
    </ng-template>

    <div class="content-area" *ngIf="!state.isLoadingPlayers && !state.isLoadingPicks && !state.isLoadingOwners; else loading">
      <h2>
        <a *ngIf="picksScrollOverridden" class="clickable link-normal" (click)="onCurrentPickClick()">
          Round {{state.currentPick.payload.val()?.round}} Pick {{state.currentPick.payload.val()?.roundSelection}}
        </a>
        <span *ngIf="!picksScrollOverridden">
          Round {{state.currentPick.payload.val()?.round}} Pick {{state.currentPick.payload.val()?.roundSelection}}
        </span>
        <a target="_blank" class="hidden-sm-down float-sm-right" style="display: flex; align-items: center" routerLink="/draft-board">Draft Board <clr-icon style="margin-left: 8px" shape="pop-out"></clr-icon></a>
      </h2>
      <div class="row">
        <app-picks class="col-xs-12"
                   [currentPick]="state?.currentPick"
                   [picks]="state?.picks"
                   [scrollOverridden]="picksScrollOverridden"
                   [canChangeCurrentPick]="state?.isAdmin"
                   [canUndoPick]="state?.isAdmin"
                   (userScrolled)="onUserScrolled()"
                   (undoPick)="onUndoPick($event)"
                   (selectPick)="onSelectPick($event)">
        </app-picks>
      </div>

      <div class="row">

        <div class="col-xs">
          <div class="row hidden-sm-down">
            <div class="col-xs-7">
              <h2>Players</h2>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <h2>Rosters</h2>
              </div>
            </div>
          </div>

          <div class="row hidden-md-up">
            <ul class="nav" role="tablist">
              <li role="presentation" class="nav-item">
                <button class="btn btn-link nav-link"
                        [class.active]="mobileTab === 'PLAYERS'"
                        type="button"
                        (click)="mobileTab = 'PLAYERS'">Players</button>
              </li>
              <li role="presentation" class="nav-item">
                <button class="btn btn-link nav-link"
                        [class.active]="mobileTab === 'ROSTER'"
                        type="button"
                        (click)="mobileTab = 'ROSTER'">Roster</button>
              </li>
            </ul>
            <br/>
          </div>

          <div class="row">
            <app-players
              class="col-xs-12 col-md-7"
              [class.hidden-sm-down]="mobileTab !== 'PLAYERS'"
              [players]="state?.players"
              [canMakePick]="state?.isAdmin"
              (playerClicked)="onPlayerClicked($event)">
            </app-players>

            <app-owners class="col-xs-12 col-md-5"
                        #owners
                        [class.hidden-sm-down]="mobileTab !== 'ROSTER'"
                        [owners]="state?.owners"
                        [currentPick]="state?.currentPick">
            </app-owners>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
