<div class="main-container">
  <header class="header header-6">
    Rockford Keeper 2017
  </header>

  <div class="content-container">
    <div class="content-area">
      <h2>Round 1 TODO</h2>
      <div class="row">
        <app-picks class="col-xs-12" [picks]="(state$ | async)?.picks"></app-picks>
      </div>

      <div class="row">
        <app-players class="col-xs-7" [players]="(state$ | async)?.players"></app-players>

        <div class="col-xs-5">
          team
        </div>
      </div>
    </div>
  </div>
</div>
