.pick-container {
  height: 100%;
  width: 100%;
}
.unselected {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.selection {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;

  color: white;
  line-height: 1.6vmin;
  border-radius: 4px;

  background-color: #698a98; //#08415C;
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;

  animation: fadeIn .5s, selection-made 1.1s 3.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease, cubic-bezier(0.68, 0.22, 0.25, 0.95);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes selection-made {
  //from { z-index: 2; }
  to {
    transform: translate(0) scale(1);
    //z-index: 1;
  }
}

.selection-name {
  font-size: 1.2vmin
}

.selection-info {
  font-size: .5vmax;
}

.QB {
  background-color: #7F7297;
}

.RB {
  background-color: #70A2C6; //7BB2D9;
}

.WR {
  background-color: #DA6C6F;//#EF767A;//#A07178;
}

.TE {
  background-color: #CB904D ;
}

.DST {

}

.K {
  background-color: #E38EA9;
}
