<div class="clr-row clr-flex-column">
  <div class="clr-row w-full">
    <input class="clr-col-10 clr-input clr-flex-grow-1"
           type="text"
           placeholder="Search Player Name"
           (keydown.esc)="playerSearchQuery = ''"
           [(ngModel)]="playerSearchQuery"/>
    <clr-icon class="clickable"
              *ngIf="playerSearchQuery"
              shape="times"
              size="24"
              (click)="playerSearchQuery = ''">
    </clr-icon>
  </div>

  <div class="clr-col-12">
    <button type="button" class="btn btn-sm" (click)="toggleFilter('QB')">
      <clr-icon *ngIf="isFilterOn('QB')" shape="check"></clr-icon>
      QB
    </button>
    <button type="button" class="btn btn-sm" (click)="toggleFilter('RB')">
      <clr-icon *ngIf="isFilterOn('RB')" shape="check"></clr-icon>
      RB
    </button>
    <button type="button" class="btn btn-sm" (click)="toggleFilter('WR')">
      <clr-icon *ngIf="isFilterOn('WR')" shape="check"></clr-icon>
      WR
    </button>

    <button type="button" class="btn btn-sm" (click)="toggleFilter('TE')">
      <clr-icon *ngIf="isFilterOn('TE')" shape="check"></clr-icon>
      TE
    </button>
    <button type="button" class="btn btn-sm" (click)="toggleFilter('D/ST')">
      <clr-icon *ngIf="isFilterOn('D/ST')" shape="check"></clr-icon>
      D/ST
    </button>
    <button type="button" class="btn btn-sm" (click)="toggleFilter('K')">
      <clr-icon *ngIf="isFilterOn('K')" shape="check"></clr-icon>
      K
    </button>
    <button type="button" class="btn btn-sm pull-right" (click)="onToggleUnavailable()">
      <clr-icon *ngIf="showUnavailable" shape="check"></clr-icon>
      Show Taken
    </button>
  </div>
</div>

<div class="clr-row">
  <!--<div class="clr-col">-->
    <ag-grid-angular #grid
                     [rowData]="players"
                     [getRowNodeId]="getPlayerId"
                     [quickFilterText]="getQuickFilter()"
                     [isExternalFilterPresent]="anyFiltersOn"
                     [doesExternalFilterPass]="shouldShowPlayer"
                     [cacheQuickFilter]="true"
                     [getRowClass]="getRowClass"
                     [deltaRowDataMode]="true"
                     [defaultColDef]="{
                       sortable: true,
                       resizable: true
                     }"
                     (rowDataUpdated)="grid?.api?.sizeColumnsToFit()"
                     (gridReady)="grid?.api?.sizeColumnsToFit()"
                     style="height: 775px; width: 100%;"> <!--TODO correct height-->
      <ag-grid-column grid-template headerName="Espn" [valueGetter]="getPayloadValue('espnRank')" [maxWidth]=50></ag-grid-column>

      <ag-grid-column grid-template headerName="Name" [valueGetter]="getPayloadValue('name')" [minWidth]="isTinyScreen ? 190 : undefined">
          <ng-template let-row="row">
            <div class="clr-row player-name-cell clickable"
                 (click)="playerCellClicked(row)"
            >
              <div class="clr-col">
                <span *ngIf="showDepth" class="depth-chart-{{row.payload.val().positionDepth}}" title="Depth Chart: {{row.payload.val().positionDepth}}"></span>
                <span class="player-name">{{row.payload.val().name}}</span>
                <span *ngIf="row.payload.val().injuryStatus && row.payload.val().injuryStatus !== 'ACTIVE'"> ({{row.payload.val().injuryStatus[0]}})</span>
              </div>
              <div *ngIf="canMakePick && !row.payload.val().isTaken" class="col-xs-5 show-on-hover click-to-pick">Click to draft!</div>
            </div>
          </ng-template>
      </ag-grid-column>

      <ag-grid-column grid-template headerName="Pos" [valueGetter]="getPayloadValue('position')" [maxWidth]="isTinyScreen ? 30 : 50"></ag-grid-column>
      <ag-grid-column grid-template [hide]="isMobile" headerName="Team" [valueGetter]="getPayloadValue('team')" [maxWidth]="50"></ag-grid-column>
      <ag-grid-column grid-template headerName="Bye" [valueGetter]="getPayloadValue('bye')" [maxWidth]="isTinyScreen ? 30 : 50"></ag-grid-column>
      <ag-grid-column grid-template headerName="Proj" [valueGetter]="getPayloadValue('projection')" [maxWidth]="isTinyScreen ? 40 : 50"></ag-grid-column>
      <ag-grid-column grid-template headerName="Avg" [valueGetter]="getPayloadValue('projectedAverage')" [maxWidth]="isTinyScreen ? 35 : 50"></ag-grid-column>
    </ag-grid-angular>
  <!--</div>-->
</div>
