<div class="row">
  <div class="col-xs">
    <h2>Available Players</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs row">
    <input class="col-xs-7"
           type="text"
           placeholder="Search Player Name"
           [(ngModel)]="playerSearchQuery"/>

    <clr-dropdown class="col-xs pull-right">
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Filter
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu [clrPosition]="'bottom-left'" *clrIfOpen>
        <label class="dropdown-header">Show</label>
        <button type="button" clrDropdownItem (click)="onToggleUnavailable()">
          <clr-icon *ngIf="showUnavailable" shape="check"></clr-icon>
          Unavailable Players
        </button>

        <div class="dropdown-divider"></div>

        <label class="dropdown-header">By Position</label>
        <button type="button" clrDropdownItem (click)="toggleFilter('QB')">
          <clr-icon *ngIf="isFilterOn('QB')" shape="check"></clr-icon> Quarter Back
        </button>
        <button type="button" clrDropdownItem (click)="toggleFilter('RB')">
          <clr-icon *ngIf="isFilterOn('RB')" shape="check"></clr-icon> Running Back
        </button>
        <button type="button" clrDropdownItem (click)="toggleFilter('WR')">
          <clr-icon *ngIf="isFilterOn('WR')" shape="check"></clr-icon> Wide Receiver
        </button>
        <button type="button" clrDropdownItem (click)="toggleFilter('TE')">
          <clr-icon *ngIf="isFilterOn('TE')" shape="check"></clr-icon> Tight End
        </button>
        <button type="button" clrDropdownItem (click)="toggleFilter('D/ST')">
          <clr-icon *ngIf="isFilterOn('D/ST')" shape="check"></clr-icon> Defense
        </button>
        <button type="button" clrDropdownItem (click)="toggleFilter('K')">
          <clr-icon *ngIf="isFilterOn('K')" shape="check"></clr-icon> Kicker
        </button>

        <div class="dropdown-divider"></div>

        <button type="button" clrDropdownItem (click)="onClearFilterClick()">Clear Filter</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>

<div class="row">
  <div class="col-xs">
    <ngx-datatable [rows]="players" [trackByProp]="'espnPlayerId'" [columnMode]="'force'" [rowHeight]="'auto'"
                   style="width: 100%;" [rowClass]="getRowClass.bind(this)">
      <ngx-datatable-column name="Espn" [prop]="'espnRank'" [maxWidth]="50"></ngx-datatable-column>
      <ngx-datatable-column name="Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="row player-name-cell" [class.clickable]="canMakePick && !row.isTaken" (click)="playerClicked.emit(row)">
            <div class="col-xs">
              <span class="player-name">{{row.name}}</span>
              <span *ngIf="row.tns">({{row.tns}})</span>
            </div>
            <div *ngIf="canMakePick && !row.isTaken" class="col-xs-5 show-on-hover click-to-pick">Click to draft!</div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Pos" [prop]="'position'" [maxWidth]="50"></ngx-datatable-column>
      <ngx-datatable-column name="Team" [maxWidth]="50"></ngx-datatable-column>
      <ngx-datatable-column name="Bye" [maxWidth]="50"></ngx-datatable-column>
      <ngx-datatable-column name="Proj" [prop]="'projection'" [maxWidth]="50"></ngx-datatable-column>
      <ngx-datatable-column name="2016" [prop]="'lastYearPoints'" [maxWidth]="50"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
