.ag-row {
  :hover {
    .clickable {
      .player-name {
        color: #006a91;
        text-decoration: underline;
      }
    }
  }

  .player-name-cell {
    margin: 0;
  }
}

.ag-cell {
  text-decoration: inherit;
}

.player-taken {
  text-decoration: line-through;
}

.datatable-header {}
.datatable-body-cell {}
