.ag-header {
  background-color: #fafafa !important;
}

.ag-row {
  :hover {
    background-color: #f2f2f2 !important;
  }
}

.ag-cell {
  :hover {
    .show-on-hover {
      display: block;
    }
  }

  .show-on-hover {
    display: none;
  }
}
