.hide {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
::-webkit-scrollbar-thumb:active {
  background: #cdcdcd;
}
::-webkit-scrollbar-track {
  background: #bebebe;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #c5c5c5;
}
::-webkit-scrollbar-track:active {
  background: #b1b1b1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
